extends layouts/layout-dashAfi.pug
block content
  
  .col.s12
    .card(style='border-radius: 10px;background-color: #444444;')
    .card-content.center
      img#pv_categoriaImg.img-carricel(src='../static/img/foto-sin-rostro-de-facebook.jpg' ,='' style='width:200px;height: 200px;border-radius:10px ')
  .col.s12(style='padding: 0 2rem 2rem;')
    h4.white-text.center Informacion Basica
    .card.tabla(style='background-color: #666666;border-radius:10px')
      .card-content.white-text(style='padding:1rem 2rem;')
        ul.collection.p-0.m-0
          li.collection-item
            small
             span.center Nombre:
            p= nombre + " " + apellido_p + " " + apellido_m
          hr

          li.collection-item
            span Servicios:
            p= especialidad
          hr
          
          li.collection-item
            small
              span CURP:
            p= curp
          hr

          li.collection-item
            small
              span RFC:
            p= rfc
          hr

          li.collection-item
            small
              span Seguro Social:
            p= seguro_social
          hr

          li.collection-item
            small
              span Telefono:
            p= telefono_1
          hr

          li.collection-item
            small
              span Fecha de nacimiento:
            p= fecha_nacimiento
          hr

          li.collection-item
            small
              span Colonia:
            p= colonia
          hr

          
          li.collection-item
            small
              span Calle:
            p= calle
          hr

          li.collection-item
            small
              span Municipio:
            p= municipio
          hr

          li.collection-item
            small
              span Ciudad:
            p= ciudad
          hr

          .col.s6(style='margin-left: -10px')
            li.collection-item
              small
                span Num. Ex.:
              p= num_ext
            hr
            
          .col.s6
            li.collection-item
              small
                span Num. Int.:
              p= num_int
            hr
          
          .col.s6(style='margin-left: -10px')
            li.collection-item
              small
                span Estado:
              p= estado
            hr

          .col.s6
            li.collection-item
              small
                span C.P.:
              p= cp
            hr
    a.btn.col.s12.l6.offset-l3.center(href="/dash" style='border-radius: 10px; background-color: #dd1917;margin-top: 20px;')
                i.material-icons.left chevron_left
                | Volver      

    
    //- a.btn.col.s8.offset-s2(href='socio' style='border-radius: 10px; background-color: #dd1917; margin-bottom: 12px;')
    //-   i.material-icons.left assignment_turned_in  
    //-   | Afiliarse
