extends layouts/layout-login.pug
block content 

    .col.s12
        table.white-text.striped
            thead
                tr
                th Folio
                th Nombre(s)
                th Apellido P.
                th Apellido M.
                th Telefono
                
            tbody
            each agremiado in agremiados
                tr
                td= agremiado.folio
                td= agremiado.nombre
                td= agremiado.apellido_p
                td= agremiado.apellido_m
                td= agremiado.telefono_1